.about-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 150px;
  }
  .about-text {
    margin-left: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
  }

  .about-text p {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
  }

  .about-img {
    width: 25%;
    border: 3px solid #000000 !important;
    transition: all 0.2s;
  }
  .about-img:hover {
    opacity: 100%;
    box-shadow: 5px 5px black;
    color: #000000 !important;
    transform: translate(-0.4rem, -0.4rem);
  }

  .about-img img {
    vertical-align: -webkit-baseline-middle;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .skills-list {
    text-decoration: none;
    list-style-type: none;
    font-size: 40px;
    width: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .skills-list li {
    padding: 20px;
}


  @media (max-width: 48em) {

    .about-info {
      margin-top: 130px;
      margin-left: 0px;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .about-img {
      display: none;
      width: 30%;
    }
    .about-text {
      width: 90%;
      display: flex;
      flex-direction: column;
      margin: 0;
    }
    .about-text p {
      text-align: center;
      width: 100%;
      font-size: 20px;
    }
    
    .skills-list {
      width: 100%;
      flex-direction: row;
      font-size: 30px;
    }
    .skills-list li {
      padding: 15px;
    }
    .skills-list li:first-child {
      padding-left: 0;
    }
  }
  