/* RIGHT FOOTER */

/* .RightFooter {
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding-left: 15px;
    width: 50px;
    bottom: 0px;
    right: 20px;
}
.mail-list {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: center;
}
.mail-list li {
    padding-top: 15px;
}
.mail-info {
    text-decoration: none;
    color: #156dbe;
    font-size: 15px;
    font-weight: 600;
}
.rotate {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    writing-mode:tb-rl;
    white-space:nowrap;
    width: 20px;
}
*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
  }
  
  .hvr-grow:hover,
  .hvr-grow:focus,
  .hvr-grow:active {
    transform: scale(1.15);
    color: #4361ee !important;
    position: relative;
  } 

  /* RIGHT FOOTER */

  /* LEFT FOOTER */

  .Center {
    display: flex;
  }
  .Footer {
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
  }
  .Footer ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .social-media li a {
    padding: 0.75rem 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
  }

  .social-media li {
    padding-top: 15px;
  }


  /* LEFT FOOTER */

   @media only screen and (max-width: 768px) {
   .Footer {
      margin-bottom: 10px;
    }
    /*
    .Footer .social-media {
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      padding-left: 15px;
      width: 50px;
      bottom: 0px;
      right: 20px;
    }
    .social-media li {
      list-style: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      align-items: center;
    } */
    .social-media li a {
      padding: 10px;
    }

  } 